* {
    box-sizing: border-box;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    height: 100%;
}

main{
    border: 1px solid black;
    width: 400px;
    height: 60%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: "screen"
                         "work-area";
}

#display {
    grid-area: screen;
    background-color: cornflowerblue;
}

#button-area {
    grid-area: work-area;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-areas: "numbers operators last" ;
}

#numbers {
    grid-area: numbers;
    /* display: flex; */
}

#operators {
    grid-area: operators;
}


#expression, #output {
    width: 200px;
    height: 50px;
    border: 1px solid black;
    text-align: right;
    overflow: auto;
}

button:focus {
    outline: none;
}

.selected-operator {
    background-color: blue;
    outline: none;
    box-shadow: none;
}