* {
    box-sizing: border-box;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    height: 100%;
}

main{
    border: 1px solid black;
    width: 350px;
    height: 60%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: grid;
    grid-template-rows: 2fr 5fr;
    grid-template-areas: "screen"
                         "work-area";
}

#display {
    grid-area: screen;
    background-color: cornflowerblue;
}

#button-area {
    grid-area: work-area;
    display: grid;
    grid-auto-flow: row;
    grid-template: repeat(4,1fr)/ repeat(5, 1fr);
    grid-template-areas: "num-7 num-8 num-9 ... ..."
                         "num-4 num-5 num-6 ... ..."
                         "num-1 num-2 num-3 ... ..."
                         "sign num-0 dot ... ...";
}

div[id='+-'] {
    grid-area: sign;
}

div[id='.'] {
    grid-area: dot;
}

button {
    font-size: large;
    font-weight: 700;
    /* border-radius: 50%; */
}

#expression, #output {
    height: 50%;
    border: 1px solid black;
    text-align: right;
    overflow: auto;
}

button:focus {
    outline: none;
}

.selected-operator {
    background-color: blue;
    outline: none;
    box-shadow: none;
}